@media all and (min-width: 992px) { 
	h1 {
		font-size: 5em; /* 1.5x default size */
	}
	h2{
		font-size:2.5em;
	}
	h3{
		font-size: 1.25em;
	}
	p{
		font-size: 1em;
	}
}
@media all and (max-width: 992px) { /* screen size until 1000px */
	h1 {
		font-size: 4em; /* 1.2x default size */
	}
	h2 {
		font-size: 2em;
	}
	h3{
		font-size: 1.25em;
	}
	p{
		font-size: 1em;
	}
}
@media all and (max-width: 768px) { /* screen size until 500px */
	h1 {
		font-size: 3em; /* 0.8x default size */
	}
	h2 {
		font-size: 1.75em;
	}
	h3{
		font-size: 1.25em;
	}
	p{
		font-size: 1em;
	}
}


body {
	margin: 0;
	background-color: lightblue;
	text-align: center;
	margin-bottom: 40px;
}

h1 {
	color : white;
	font-family: Monaco, monospace;
}

h2 {
	color: white;
	font-family: Menlo;
}

h3 {
	color: white;
	font-family: Menlo;
}

p {
	color: midnightblue;
	font-family: monospace;
}

table p {
	color: midnightblue;
	font-family: monospace;
	text-align: center;
}

ol li {
	color: darkblue;
	font-family: monospace;
}

ol h2 li{
	color: white;
	font-family: Menlo;
	text-align: justify;
}

ol h3 li{
	color: dodgerblue;
	font-family: monospace;
	text-align: justify;
}

::selection{
	color: red;
	background: yellow;
}

/*#nav {
transform: translateY(-100%);
}*/

#nav ul {
	list-style-type: none;
	margin: 0;
	padding-left: 37.5%;
	overflow: hidden;
	background-color: steelblue;
	position: fixed;
	top: 0;
	width: 100%;
}

#nav li {
	float:left;
	border-right: 1px solid skyblue;
}

#nav li:last-child {
	border-right: none;
}

#nav li a {
	font-family: Menlo;
	font-size: 16px;
	display: block;
	color: dimgray;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

#nav li a.active {
	color: white;
}

/* Change the link color to white on hover */
li a:hover {
	background-color: slategrey;
}

/* different home ul because more options
in navigation bar */
#title ul {
	list-style-type: none;
	margin-left: auto;
	margin-right:auto;
	width: 600px;
	overflow: hidden;
	background-color: none;
}

#title li {
	float: left;
	padding: 0;
}

#title li>a {
	font-family: Menlo;
	display: block;
	color: slategray;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#title li a.active {
	color: white;
}

/* Change the link color to white on hover */
#title li a:hover {
	background-color: white;
	color: steelblue;
}

.page {
	width: 100%;
	margin: 0px auto 0px auto;;
}

#title {
	background-color: steelblue;
	max-height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: repeat;
	padding: 15px;
	padding-top: 3%;
	margin: 40px,0px;
}

#content{
	max-width:  860px;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

#content td a:link{
	color: red;
}

#content td a:visited{
	color: green;
}

tr:first-child {
	background: slategray;
}

td:first-child {
	background: lightgrey;
}

td:only-child {
	background: none;
}

td:first-child::first-letter{
	font-size: xx-large;
	font-weight: bold;
}

dt::first-letter{
	font-size: xx-large;
	font-weight: bold;
	text-transform: uppercase;
}

dd p::before {
	content: "DEFINITION";
	background-color: slategrey;
	color: white;
	font-weight: bold;
}


table {
	border-collapse: collapse;
}

table, th, td {
	border: 3px solid lightcyan;
	margin-bottom: 50px;
}

td{
	color: darkblue;
	font-family: monospace;
	font-size: 14px;
	text-align: justify;
	padding: 15px;
}

table img{
	width: 80%;
	padding: 15px;
}

dl {
	border: 10px double white;
	padding: 0.5em;
}

dt {
	float: left;
	clear: left;
	width: 150px;
	text-align: right;
	font-weight: bold;
	color: green;
}

dd {
	margin: 0 0 0 170px;
	padding: 0 20px 0.5em 0;
}

dl hr {
	color: white;
	border-width: 0.5px;
	border-style: dashed;
}

#content > h2{
	background-color: tomato;
}

#content h3>li{
	color: tomato;
}

tr>td>p {
	background-color: gainsboro;
}

h3[target=_important] {
	background-color: tomato;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

mark {
    background-color: yellowgreen;
	color: midnightblue;
}

footer{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 100%;
	background: mediumturquoise;
	font-family: monospace;
	color: #20B2AA;
}